/* Basic styling for the website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:springgreen;
}

header {
    background-color: skyblue;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.33s ease-in-out;
}

.container1:hover {
    transform: scale(1.2);
}
.container2:hover {
    transform: scale(1.2);
}
.container3:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
span{
    font-weight: bold;
}
