@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter",sans-serif;
}
body{
  background-color: rgb(177, 177, 176);
}

.navbar{
  padding: 15px 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(237, 237, 247);
  color: rgb(12, 7, 7);
}
.logo{
  font-weight: 800;

}
.navbar ul {
  padding: 10px;
  color: aliceblue;
}
.navbar ul li {
  display: inline-flex;
  padding: 5px 10px;
  margin: 0px 20px;
  color:#f3f1f1;
}
.navbar button{
  background-color: rgb(36, 54, 69);
  color: white;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}
.container{
  max-width: 1000px;
  width: 1000%;
  margin: 0 auto;
 
}
.l{
color: white;
}
